body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #11111b;
  }
  
  .container {
    text-align: center;
    background: #1e1e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #b4befe;
    color: black;
    cursor: pointer;
  }
  
  #weather-info {
    display: none;
    text-align: left;
    animation: fadeIn 2s ease-in-out;
  }
  
  @media (max-width: 600px) {
    input[type="text"],
    button {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  }