:root {
  --primary-bg: #11111b;
  --secondary-bg: #1e1e2e;
  --text-color: #cdd6f4;
  --accent-color: #b4befe;
  --error-color: #e64553;

  --padding-small: 1rem;
  --padding-medium: 1.25rem;
  --border-radius: 1rem;
  --element-size: 2.5rem;
  --element-width: 12rem;
  --spinner-border-width: 0.5rem;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--primary-bg);
  color: var(--text-color);
}

.container {
  text-align: center;
  background: var(--secondary-bg);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  margin-bottom: var(--padding-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: var(--padding-small);
  width: var(--element-width);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  margin-bottom: var(--padding-small);
}

button {
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  background: var(--accent-color);
  color: black;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: var(--padding-small);
}

button:hover {
  background: lighten(var(--accent-color), 10%);
}

.spinner {
  display: none;
  border: var(--spinner-border-width) solid var(--primary-bg);
  border-top: var(--spinner-border-width) solid var(--accent-color);
  border-radius: 50%;
  width: var(--element-size);
  height: var(--element-size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#weather-info {
  display: none;
  text-align: left;
  margin-top: var(--padding-medium);
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  max-width: 25rem;
}

#weather-info p {
  margin: 5px 0;
}

#error-message {
  display: none;
  color: var(--error-color);
  margin-top: var(--padding-medium);
}

@media (max-width: 600px) {
  input[type="text"],
  button {
    width: 100%;
    box-sizing: border-box;
  }
}
